<!-- Sidebar -->
<section id="sidebar">
  <div class="inner">
    <nav>
      <ul>
        <li><a href="/">PRINCIPAL</a></li>
        <li><a href="/new_post">CREAR POST</a></li>
        <li><a href="/search_posts">BUSCAR DOCUMENTO</a></li>

      </ul>
    </nav>
  </div>
</section>
