      <!-- Intro -->
      <section class="wrapper style1 fullscreen fade-up">
        <div class="inner">
          <h1>BIENVENIDO</h1>
          <p>
            Está página se diseñó con el objetivo de buscar documentos perdidos en el departamento
            de Boyacá, especificamente en las ciudades de Tunja, Duitama y Sogamoso.
          </p>
          <!-- <ul class="actions">
            <li>
              <a href="#one" action="" class="button scrolly">Añadir objeto perdido</a>
            </li>
          </ul> -->
        </div>
      </section>